<launch>
    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="turtle_joy">
        <param name="deadzone" value="0.12" />
    </node>

    <!-- Axes -->
    <node pkg="joy_teleop" type="joy_teleop_node" name="teleop">
        <rosparam file="$(find joy_teleop)/params/teleop_joy.yaml" command="load" />
    </node>
</launch>
